html
{
    font-family: Arial, Helvetica, sans-serif;
}

#titleimg
{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#titletext
{
    color: #BABCBE;
    text-align: center;
}

#joshBox
{
    background-color: #F1F3F4;
    width: 350px;
    height: 350px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 30px;
    box-shadow: 0px 0px 15px #F1F3F4;
}

#josh
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 350px;
    border-radius: 30px;
    filter: drop-shadow(0px 0px 15px #c4c4c4);
}

#joshtext
{
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 4%;
    display: block;
    color: #535353;
    height: 800px;
    font-size: 15px;
}

#joshtexttwo
{
    font-size: 10px;
    bottom: 0;
    position: fixed;
    padding-bottom: 55px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

a
{
    text-decoration: none;
    color: #fcba03;
}

#bottom
{
    position: fixed;
    bottom: 0;
    padding-left: 10px;
    padding-bottom: 10px;
}